{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "usage",
                "corejs": 2,
                "target": {
                    "edge": 70,
                    "chrome": 67
                }
            }
        ],
        "@babel/preset-react"
    ],
    "plugins": [
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-transform-runtime",
        [
            "@babel/plugin-proposal-class-properties",
            {
                "loose": false
            }
        ],
        [
            "@babel/plugin-proposal-private-property-in-object",
            {
                "loose": false
            }
        ],
        [
            "@babel/plugin-proposal-private-methods",
            {
                "loose": false
            }
        ]
    ]
}